<!-- container of profile of user-->
<div class="container container-fluid container-profile">
	<div class="alert alert-success"> أهلا  {{user.username}}
		<a class="close" data-dismiss="alert" aria-label="close"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
	<div class="container profile-panel">
		<div class="list-group">
 			<p id="toggle-purchases" class="list-group-item">مشترياتي تم شراؤها
 				<i class="badg" aria-hidden="true">0</i>
 			</p>
  			<div id="cont-purchases" class="toggling-cont">
  				<p class="purchases">kjjljln
  					<span class="date-purchases">dwd</span>
  				</p>
  			</div>
  			<p id="toggle-basket" class="list-group-item">سلة المشتريات
  				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
  			</p>
  			<div id="cont-basket" class="toggling-cont">
  				<p class="basket-items">wdewdfwe
  				<i class="fa fa-times"></i>
  				</p>
  			</div>
  			<p class="list-group-item" id="toggle-messages">الرسائل
  				<i class="badg" aria-hidden="true">0</i>
  			</p>
  			<div id="cont-messages" class="toggling-cont">
  				<p class="messages">
  					<a href="#" class="message">vvr</a>
  					<a href="#" class="name-message">fefe</a>
  					<span class="date-message">fef</span>
  				</p>
  			</div>
  			<p class="list-group-item" id="toggle-credit">الرصيد
  				<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
			</p>
  			<div id="cont-credit" class="toggling-cont">
  			</div>
		</div>
	</div>
</div>
